<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Dmitry Vasilyev SPA</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/spa.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />

    <script src="~/lib/devextreme/js/dx.all.js"></script>

    <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>

    <script src="~/lib/underscore/underscore.js"></script>
    <script src="~/lib/angular-underscore-module/angular-underscore-module.js"></script>

    <script src="~/modules/dashboard/dashboard.module.js"></script>
    <script src="~/modules/dashboard/customers/common/enums.js"></script>

    <script src="~/modules/dashboard/customers/customers.js"></script>
    <script src="~/modules/dashboard/about/about.js"></script>
    <script src="~/modules/dashboard/contacts/contacts.js"></script>
    <script src="~/modules/dashboard/customers/common/messages.js"></script>

    <script src="~/modules/dashboard/dashboard-service.js"></script>
    <script src="~/modules/dashboard/customers/components/customer-editor-popup.js"></script>
    <script src="~/modules/dashboard/customers/components/order-editor-popup.js"></script>
    <script src="~/modules/dashboard/customers/components/order-item-editor-popup.js"></script>

    <script src="~/modules/spaApp.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
